<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsh.dao.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.wsh.entity.Course" >
    <id column="course_id" property="courseId" jdbcType="VARCHAR" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="tea_name" property="teaName" jdbcType="VARCHAR" />
    <result column="course_class" property="courseClass" jdbcType="VARCHAR" />
    <result column="course_major" property="courseMajor" jdbcType="VARCHAR" />
    <result column="course_department" property="courseDepartment" jdbcType="VARCHAR" />
    <result column="course_detail" property="courseDetail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    course_id, course_name, tea_name, course_class, course_major, course_department, 
    course_detail
  </sql>
  <select id="selectByNameLike" resultMap="BaseResultMap" parameterType="String">
    select *
    from forum.course
    where
    course_name LIKE CONCAT(CONCAT('%', #{courName}), '%');
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wsh.entity.CourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from course
    where course_id = #{courseId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from course
    where course_id = #{courseId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wsh.entity.CourseExample" >
    delete from course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wsh.entity.Course" >
    insert into course (course_id, course_name, tea_name, 
      course_class, course_major, course_department, 
      course_detail)
    values (#{courseId,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, #{teaName,jdbcType=VARCHAR}, 
      #{courseClass,jdbcType=VARCHAR}, #{courseMajor,jdbcType=VARCHAR}, #{courseDepartment,jdbcType=VARCHAR}, 
      #{courseDetail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wsh.entity.Course" >
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="courseName != null" >
        course_name,
      </if>
      <if test="teaName != null" >
        tea_name,
      </if>
      <if test="courseClass != null" >
        course_class,
      </if>
      <if test="courseMajor != null" >
        course_major,
      </if>
      <if test="courseDepartment != null" >
        course_department,
      </if>
      <if test="courseDetail != null" >
        course_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null" >
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="teaName != null" >
        #{teaName,jdbcType=VARCHAR},
      </if>
      <if test="courseClass != null" >
        #{courseClass,jdbcType=VARCHAR},
      </if>
      <if test="courseMajor != null" >
        #{courseMajor,jdbcType=VARCHAR},
      </if>
      <if test="courseDepartment != null" >
        #{courseDepartment,jdbcType=VARCHAR},
      </if>
      <if test="courseDetail != null" >
        #{courseDetail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wsh.entity.CourseExample" resultType="java.lang.Integer" >
    select count(*) from course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update course
    <set >
      <if test="record.courseId != null" >
        course_id = #{record.courseId,jdbcType=VARCHAR},
      </if>
      <if test="record.courseName != null" >
        course_name = #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.teaName != null" >
        tea_name = #{record.teaName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseClass != null" >
        course_class = #{record.courseClass,jdbcType=VARCHAR},
      </if>
      <if test="record.courseMajor != null" >
        course_major = #{record.courseMajor,jdbcType=VARCHAR},
      </if>
      <if test="record.courseDepartment != null" >
        course_department = #{record.courseDepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.courseDetail != null" >
        course_detail = #{record.courseDetail,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update course
    set course_id = #{record.courseId,jdbcType=VARCHAR},
      course_name = #{record.courseName,jdbcType=VARCHAR},
      tea_name = #{record.teaName,jdbcType=VARCHAR},
      course_class = #{record.courseClass,jdbcType=VARCHAR},
      course_major = #{record.courseMajor,jdbcType=VARCHAR},
      course_department = #{record.courseDepartment,jdbcType=VARCHAR},
      course_detail = #{record.courseDetail,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsh.entity.Course" >
    update course
    <set >
      <if test="courseName != null" >
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="teaName != null" >
        tea_name = #{teaName,jdbcType=VARCHAR},
      </if>
      <if test="courseClass != null" >
        course_class = #{courseClass,jdbcType=VARCHAR},
      </if>
      <if test="courseMajor != null" >
        course_major = #{courseMajor,jdbcType=VARCHAR},
      </if>
      <if test="courseDepartment != null" >
        course_department = #{courseDepartment,jdbcType=VARCHAR},
      </if>
      <if test="courseDetail != null" >
        course_detail = #{courseDetail,jdbcType=VARCHAR},
      </if>
    </set>
    where course_id = #{courseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsh.entity.Course" >
    update course
    set course_name = #{courseName,jdbcType=VARCHAR},
      tea_name = #{teaName,jdbcType=VARCHAR},
      course_class = #{courseClass,jdbcType=VARCHAR},
      course_major = #{courseMajor,jdbcType=VARCHAR},
      course_department = #{courseDepartment,jdbcType=VARCHAR},
      course_detail = #{courseDetail,jdbcType=VARCHAR}
    where course_id = #{courseId,jdbcType=VARCHAR}
  </update>
</mapper>