<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsh.dao.FollowMapper" >
  <resultMap id="BaseResultMap" type="com.wsh.entity.Follow" >
    <result column="follow_id" property="followId" jdbcType="VARCHAR" />
    <result column="followed_id" property="followedId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseMyFollow" type="com.wsh.entity.Follow" >
    <result column="followed_id" property="followedId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseMyFans" type="com.wsh.entity.Follow" >
    <result column="follow_id" property="followId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    follow_id, followed_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wsh.entity.FollowExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from follow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectMyFollow" resultMap="BaseMyFollow" parameterType="String">
    select followed_id from follow
    where follow_id = #{content}
  </select>
  <select id="selectMyFans" resultMap="BaseMyFans" parameterType="String">
   select follow_id from follow
    where followed_id = #{content}
  </select>
  <select id="selectFollw" resultMap="BaseResultMap" parameterType="String">
    select *
    from follow
    WHERE follow_id = #{0} AND followed_id = #{1}
  </select>
  <delete id="deleteByExample" parameterType="com.wsh.entity.FollowExample" >
    delete from follow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wsh.entity.Follow" >
    insert into follow (follow_id, followed_id)
    values (#{followId,jdbcType=VARCHAR}, #{followedId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wsh.entity.Follow" >
    insert into follow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="followId != null" >
        follow_id,
      </if>
      <if test="followedId != null" >
        followed_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="followId != null" >
        #{followId,jdbcType=VARCHAR},
      </if>
      <if test="followedId != null" >
        #{followedId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wsh.entity.FollowExample" resultType="java.lang.Integer" >
    select count(*) from follow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update follow
    <set >
      <if test="record.followId != null" >
        follow_id = #{record.followId,jdbcType=VARCHAR},
      </if>
      <if test="record.followedId != null" >
        followed_id = #{record.followedId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update follow
    set follow_id = #{record.followId,jdbcType=VARCHAR},
      followed_id = #{record.followedId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>
