<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsh.dao.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.wsh.entity.Teacher" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tea_ID" property="teaId" jdbcType="VARCHAR" />
    <result column="tea_name" property="teaName" jdbcType="VARCHAR" />
    <result column="tea_gender" property="teaGender" jdbcType="VARCHAR" />
    <result column="tea_department" property="teaDepartment" jdbcType="VARCHAR" />
    <result column="tea_phone" property="teaPhone" jdbcType="VARCHAR" />
    <result column="tea_flag" property="teaFlag" jdbcType="VARCHAR" />
    <result column="tea_password" property="teaPassword" jdbcType="VARCHAR" />
    <result column="tea_class" property="teaClass" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tea_ID, tea_name, tea_gender, tea_department, tea_phone, tea_flag, tea_password, 
    tea_class
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wsh.entity.TeacherExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teacher
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectTeaNameLike" resultMap="BaseResultMap" parameterType="String">
    select *
    from teacher
    where
    tea_name LIKE CONCAT(CONCAT('%', #{teaName}), '%');
  </select>
  <select id="selectByDepLike" resultMap="BaseResultMap" parameterType="String">
    select *
    from teacher
    where
    tea_department LIKE CONCAT(CONCAT('%', #{teaDep}), '%');
  </select>
  <select id="selectTeaIdLike" resultMap="BaseResultMap" parameterType="String">
    select *
    from teacher
    where
    tea_ID LIKE CONCAT(CONCAT('%', #{teaID}), '%');
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wsh.entity.TeacherExample" >
    delete from teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wsh.entity.Teacher" >
    insert into teacher (id, tea_ID, tea_name, 
      tea_gender, tea_department, tea_phone, 
      tea_flag, tea_password, tea_class
      )
    values (#{id,jdbcType=INTEGER}, #{teaId,jdbcType=VARCHAR}, #{teaName,jdbcType=VARCHAR}, 
      #{teaGender,jdbcType=VARCHAR}, #{teaDepartment,jdbcType=VARCHAR}, #{teaPhone,jdbcType=VARCHAR}, 
      #{teaFlag,jdbcType=VARCHAR}, #{teaPassword,jdbcType=VARCHAR}, #{teaClass,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wsh.entity.Teacher" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="teaId != null" >
        tea_ID,
      </if>
      <if test="teaName != null" >
        tea_name,
      </if>
      <if test="teaGender != null" >
        tea_gender,
      </if>
      <if test="teaDepartment != null" >
        tea_department,
      </if>
      <if test="teaPhone != null" >
        tea_phone,
      </if>
      <if test="teaFlag != null" >
        tea_flag,
      </if>
      <if test="teaPassword != null" >
        tea_password,
      </if>
      <if test="teaClass != null" >
        tea_class,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teaId != null" >
        #{teaId,jdbcType=VARCHAR},
      </if>
      <if test="teaName != null" >
        #{teaName,jdbcType=VARCHAR},
      </if>
      <if test="teaGender != null" >
        #{teaGender,jdbcType=VARCHAR},
      </if>
      <if test="teaDepartment != null" >
        #{teaDepartment,jdbcType=VARCHAR},
      </if>
      <if test="teaPhone != null" >
        #{teaPhone,jdbcType=VARCHAR},
      </if>
      <if test="teaFlag != null" >
        #{teaFlag,jdbcType=VARCHAR},
      </if>
      <if test="teaPassword != null" >
        #{teaPassword,jdbcType=VARCHAR},
      </if>
      <if test="teaClass != null" >
        #{teaClass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wsh.entity.TeacherExample" resultType="java.lang.Integer" >
    select count(*) from teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update teacher
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.teaId != null" >
        tea_ID = #{record.teaId,jdbcType=VARCHAR},
      </if>
      <if test="record.teaName != null" >
        tea_name = #{record.teaName,jdbcType=VARCHAR},
      </if>
      <if test="record.teaGender != null" >
        tea_gender = #{record.teaGender,jdbcType=VARCHAR},
      </if>
      <if test="record.teaDepartment != null" >
        tea_department = #{record.teaDepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.teaPhone != null" >
        tea_phone = #{record.teaPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.teaFlag != null" >
        tea_flag = #{record.teaFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.teaPassword != null" >
        tea_password = #{record.teaPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.teaClass != null" >
        tea_class = #{record.teaClass,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update teacher
    set id = #{record.id,jdbcType=INTEGER},
      tea_ID = #{record.teaId,jdbcType=VARCHAR},
      tea_name = #{record.teaName,jdbcType=VARCHAR},
      tea_gender = #{record.teaGender,jdbcType=VARCHAR},
      tea_department = #{record.teaDepartment,jdbcType=VARCHAR},
      tea_phone = #{record.teaPhone,jdbcType=VARCHAR},
      tea_flag = #{record.teaFlag,jdbcType=VARCHAR},
      tea_password = #{record.teaPassword,jdbcType=VARCHAR},
      tea_class = #{record.teaClass,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsh.entity.Teacher" >
    update teacher
    <set >
      <if test="teaId != null" >
        tea_ID = #{teaId,jdbcType=VARCHAR},
      </if>
      <if test="teaName != null" >
        tea_name = #{teaName,jdbcType=VARCHAR},
      </if>
      <if test="teaGender != null" >
        tea_gender = #{teaGender,jdbcType=VARCHAR},
      </if>
      <if test="teaDepartment != null" >
        tea_department = #{teaDepartment,jdbcType=VARCHAR},
      </if>
      <if test="teaPhone != null" >
        tea_phone = #{teaPhone,jdbcType=VARCHAR},
      </if>
      <if test="teaFlag != null" >
        tea_flag = #{teaFlag,jdbcType=VARCHAR},
      </if>
      <if test="teaPassword != null" >
        tea_password = #{teaPassword,jdbcType=VARCHAR},
      </if>
      <if test="teaClass != null" >
        tea_class = #{teaClass,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsh.entity.Teacher" >
    update teacher
    set tea_ID = #{teaId,jdbcType=VARCHAR},
      tea_name = #{teaName,jdbcType=VARCHAR},
      tea_gender = #{teaGender,jdbcType=VARCHAR},
      tea_department = #{teaDepartment,jdbcType=VARCHAR},
      tea_phone = #{teaPhone,jdbcType=VARCHAR},
      tea_flag = #{teaFlag,jdbcType=VARCHAR},
      tea_password = #{teaPassword,jdbcType=VARCHAR},
      tea_class = #{teaClass,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>