<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsh.dao.VacationMapper" >
  <resultMap id="BaseResultMap" type="com.wsh.entity.Vacation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="leave_ID" property="leaveId" jdbcType="VARCHAR" />
    <result column="stu_ID" property="stuId" jdbcType="VARCHAR" />
    <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
    <result column="application_time" property="applicationTime" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="leave_day" property="leaveDay" jdbcType="VARCHAR" />
    <result column="approval_tea" property="approvalTea" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="leavecourse_tea" property="leavecourseTea" jdbcType="VARCHAR" />
    <result column="leave_reason" property="leaveReason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, leave_ID, stu_ID, stu_name, application_time, start_time, end_time, leave_day, 
    approval_tea, status, leavecourse_tea, leave_reason
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wsh.entity.VacationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vacation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vacation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByLeaveIdLike" resultMap="BaseResultMap" parameterType="String">
    select *
    from vacation
    where
    leave_ID LIKE CONCAT(CONCAT('%', #{leaveId}), '%');
  </select>
  <select id="selectByStuNameLike" resultMap="BaseResultMap" parameterType="String">
    select *
    from vacation
    where
    stu_name LIKE CONCAT(CONCAT('%', #{StuName}), '%');
  </select>
  <select id="selectByGuideName" resultMap="BaseResultMap" parameterType="String">
    select *
    from vacation
    where
    approval_tea LIKE CONCAT(CONCAT('%', #{guideName}), '%');
  </select>
  <select id="selectByteacherName" resultMap="BaseResultMap" parameterType="String">
    select *
    from vacation
    where
    leavecourse_tea LIKE CONCAT(CONCAT('%', #{teaName}), '%');
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vacation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wsh.entity.VacationExample" >
    delete from vacation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wsh.entity.Vacation" >
    insert into vacation (id, leave_ID, stu_ID, 
      stu_name, application_time, start_time, 
      end_time, leave_day, approval_tea, 
      status, leavecourse_tea, leave_reason
      )
    values (#{id,jdbcType=INTEGER}, #{leaveId,jdbcType=VARCHAR}, #{stuId,jdbcType=VARCHAR}, 
      #{stuName,jdbcType=VARCHAR}, #{applicationTime,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=VARCHAR}, #{leaveDay,jdbcType=VARCHAR}, #{approvalTea,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{leavecourseTea,jdbcType=VARCHAR}, #{leaveReason,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wsh.entity.Vacation" >
    insert into vacation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="leaveId != null" >
        leave_ID,
      </if>
      <if test="stuId != null" >
        stu_ID,
      </if>
      <if test="stuName != null" >
        stu_name,
      </if>
      <if test="applicationTime != null" >
        application_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="leaveDay != null" >
        leave_day,
      </if>
      <if test="approvalTea != null" >
        approval_tea,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="leavecourseTea != null" >
        leavecourse_tea,
      </if>
      <if test="leaveReason != null" >
        leave_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="leaveId != null" >
        #{leaveId,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null" >
        #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="stuName != null" >
        #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="applicationTime != null" >
        #{applicationTime,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="leaveDay != null" >
        #{leaveDay,jdbcType=VARCHAR},
      </if>
      <if test="approvalTea != null" >
        #{approvalTea,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="leavecourseTea != null" >
        #{leavecourseTea,jdbcType=VARCHAR},
      </if>
      <if test="leaveReason != null" >
        #{leaveReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wsh.entity.VacationExample" resultType="java.lang.Integer" >
    select count(*) from vacation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vacation
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.leaveId != null" >
        leave_ID = #{record.leaveId,jdbcType=VARCHAR},
      </if>
      <if test="record.stuId != null" >
        stu_ID = #{record.stuId,jdbcType=VARCHAR},
      </if>
      <if test="record.stuName != null" >
        stu_name = #{record.stuName,jdbcType=VARCHAR},
      </if>
      <if test="record.applicationTime != null" >
        application_time = #{record.applicationTime,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=VARCHAR},
      </if>
      <if test="record.leaveDay != null" >
        leave_day = #{record.leaveDay,jdbcType=VARCHAR},
      </if>
      <if test="record.approvalTea != null" >
        approval_tea = #{record.approvalTea,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.leavecourseTea != null" >
        leavecourse_tea = #{record.leavecourseTea,jdbcType=VARCHAR},
      </if>
      <if test="record.leaveReason != null" >
        leave_reason = #{record.leaveReason,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vacation
    set id = #{record.id,jdbcType=INTEGER},
      leave_ID = #{record.leaveId,jdbcType=VARCHAR},
      stu_ID = #{record.stuId,jdbcType=VARCHAR},
      stu_name = #{record.stuName,jdbcType=VARCHAR},
      application_time = #{record.applicationTime,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=VARCHAR},
      end_time = #{record.endTime,jdbcType=VARCHAR},
      leave_day = #{record.leaveDay,jdbcType=VARCHAR},
      approval_tea = #{record.approvalTea,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      leavecourse_tea = #{record.leavecourseTea,jdbcType=VARCHAR},
      leave_reason = #{record.leaveReason,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsh.entity.Vacation" >
    update vacation
    <set >
      <if test="leaveId != null" >
        leave_ID = #{leaveId,jdbcType=VARCHAR},
      </if>
      <if test="stuId != null" >
        stu_ID = #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="stuName != null" >
        stu_name = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="applicationTime != null" >
        application_time = #{applicationTime,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="leaveDay != null" >
        leave_day = #{leaveDay,jdbcType=VARCHAR},
      </if>
      <if test="approvalTea != null" >
        approval_tea = #{approvalTea,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="leavecourseTea != null" >
        leavecourse_tea = #{leavecourseTea,jdbcType=VARCHAR},
      </if>
      <if test="leaveReason != null" >
        leave_reason = #{leaveReason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsh.entity.Vacation" >
    update vacation
    set leave_ID = #{leaveId,jdbcType=VARCHAR},
      stu_ID = #{stuId,jdbcType=VARCHAR},
      stu_name = #{stuName,jdbcType=VARCHAR},
      application_time = #{applicationTime,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      leave_day = #{leaveDay,jdbcType=VARCHAR},
      approval_tea = #{approvalTea,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      leavecourse_tea = #{leavecourseTea,jdbcType=VARCHAR},
      leave_reason = #{leaveReason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>